<div class="page-header">
  <h1>Movies</h1>
</div>
<ul class="list-unstyled list-inline">
  <li><a href="<%= newMoviesPath() %>" class="btn btn-primary">Create New Movie</a></li>
</ul>

<table class="table table-striped">
  <thead>
  <th>Movie Name</th>
    <th>Owner</th>
    <th>For</th>
    <th>Against</th>
    <th>Score</th>
    <th>&nbsp;</th>
    <th>&nbsp;</th>
  </thead>
  <tbody>
    <%= for (movie) in movies { %>
      <tr>
      <td><%= movie.Name %></td>
        <td><%= getUserName(movie.UserUUID) %></td>
        <td>
            <%= for (uuid) in movie.UsersFor { %>
            <span class="badge badge-success" style="background-color: <%= getUserColor(uuid) %>"><%= getUserName(uuid) %></span>
            <% } %>
        </td>
        <td>
            <%= for (uuid) in movie.UsersAgainst { %>
            <span class="badge badge-success" style="background-color: <%= getUserColor(uuid) %>"><%= getUserName(uuid) %></span>
            <% } %>
        </td>
        <td>
          <%= getMovieScore(movie) %></span>
        </td>
        <td>
          <div class="pull-right">
              <a href="<%= votePath({ movy_id: movie.ID, value: true }) %>" data-method="PUT" data-remote="true"><span class="btn btn-primary"><i class="fas fa-thumbs-up"></i></span></a>
              <a href="<%= votePath({ movy_id: movie.ID, value: false }) %>" data-method="PUT" data-remote="true"><span class="btn btn-secondary"><i class="fas fa-thumbs-down"></i></span></a>
          </div>
        </td>          
        <td>
          <div class="pull-right">
            <a href="<%= votePath({ movy_id: movie.ID, value: true }) %>" data-method="PUT" data-remote="true"><span class="btn btn-primary"><i class="fas fa-thumbs-up"></i></span></a>
            <a href="<%= votePath({ movy_id: movie.ID, value: false }) %>" data-method="PUT" data-remote="true"><span class="btn btn-secondary"><i class="fas fa-thumbs-down"></i></span></a>
            <a href="<%= moviePath({ movy_id: movie.ID }) %>" class="btn btn-info">View</a>
            <a href="<%= editMoviePath({ movy_id: movie.ID }) %>" class="btn btn-warning">Edit</a>
            <a href="<%= moviePath({ movy_id: movie.ID }) %>" data-method="DELETE" data-confirm="Are you sure?" class="btn btn-danger">Destroy</a>
          </div>
        </td>
      </tr>
    <% } %>
  </tbody>
</table>
<div>

<div class="text-center">
    <%= paginator(pagination) %>
</div>
