<div class="page-header">
  <h1>New Movie</h1>
</div>

<%= form_for(movie, {action: moviesPath(), method: "POST"}) { %>
  <%= partial("movies/form.html") %>
  <a href='<%= searchPath({title: "title"}) %>' id="searchTitleLink" data-method="POST" data-remote="true"><span class="btn btn-primary">Search</span></a>   
  <a href="<%= moviesPath() %>" class="btn btn-warning" data-confirm="Are you sure?">Cancel</a>      
<% } %>

<div class="container">
  <div id="movieSearchResult">
    <dl>
      <dt>Title:</dt>
      <dd id="searchResultTitle"></dd>
      <dt>Year:</dt>
      <dd id="searchResultYear"></dd>
      <dt>Plot:</dt>
      <dd id="searchResultPlot"></dd>
    </dl>
  </div>
</div>