<div class="page-header">
  <h1><%= movie.Name %></h1>
</div>

<ul class="list-unstyled list-inline">
  <li class="list-inline-item"><a href="<%= moviesPath() %>" class="btn btn-info">Back to all Movies</a></li>
  <li class="list-inline-item"><a href="<%= editMoviePath({ movy_id: movie.ID })%>" class="btn btn-warning">Edit</a></li>
  <li class="list-inline-item"><a href="<%= moviePath({ movy_id: movie.ID })%>" data-method="DELETE" data-confirm="Are you sure?" class="btn btn-danger">Destroy</a>
</ul>

<p>
  <strong>Owner</strong>: <%= getUserName(movie.UserUUID) %>
</p>
<p>
  <strong>Imdb</strong>: 
  <%= if (movie.ImdbID) { %>
  <a href="https://www.imdb.com/title/<%= movie.ImdbID %>/" target="_blank"><%= movie.ImdbID %></a>
  <% } %>
</p>
<%= if (ImdbData.Poster && ImdbData.Poster != "N/A") { %>
<img src="<%= ImdbData.Poster %>">
<% } %>
<%= if (ImdbData.Title) { %><h2><%= ImdbData.Title %></h2><% } %>
<%= if (ImdbData.Year) { %><p><strong>Year:</strong> <%= ImdbData.Year %></p><% } %>
<%= if (ImdbData.Rated) { %><p><strong>Rated:</strong> <%= ImdbData.Rated %></p><% } %>
<%= if (ImdbData.Released) { %><p><strong>Released:</strong> <%= ImdbData.Released %></p><% } %>
<%= if (ImdbData.Runtime) { %><p><strong>Runtime:</strong> <%= ImdbData.Runtime %></p><% } %>
<%= if (ImdbData.Genre) { %><p><strong>Genre:</strong> <%= ImdbData.Genre %></p>
<%= if (ImdbData.Director) { %><p><strong>Director:</strong> <%= ImdbData.Director %></p><% } %>
<%= if (ImdbData.Writer) { %><p><strong>Writer:</strong> <%= ImdbData.Writer %></p><% } %>
<%= if (ImdbData.Actors && len(ImdbData.Actors) > 0) { %><p><strong>Actors:</strong> <%= ImdbData.Actors %></p>
<%= if (ImdbData.Plot) { %><p><strong>Plot:</strong> <%= ImdbData.Plot %></p><% } %>
<%= if (ImdbData.Production) { %><p><strong>Production:</strong> <%= ImdbData.Production %></p><% } %>
<%= if (ImdbData.Website) { %><p><strong>Website:</strong> <a href="<%= ImdbData.Website %>" target="_blank"><%= ImdbData.Website %></a></p><% } %>
<!-- 


type ImdbData struct {
	Title      string   `json:"title"`
	Year       int      `json:"year"`
	Rated      string   `json:"rated"`
	Released   string   `json:"released"`
	Runtime    string   `json:"runtime"`
	Genre      []string `json:"genre"`
	Director   string   `json:"director"`
	Writer     string   `json:"writer"`
	Actors     []string `json:"actors"`
	Plot       string   `json:"plot"`
	Poster     string   `json:"poster"`
	Production string   `json:"production"`
	Website    string   `json:"website"`
} -->
