
#loading {
    -webkit-animation: rotation 30s infinite linear;
}

@-webkit-keyframes rotation {
    from {
            -webkit-transform: rotate(0deg);
    }
    to {
            -webkit-transform: rotate(359deg);
    }
}

.links {
    padding-top: 30px;
    padding-right: 30px;
}

i.fas {
    font-family: FontAwesome;
    font-size: 1rem;
    font-style: normal;
}

#half-the-form {
    width: 50%;
    padding: 30px;
}

#movieSearchResult {
    display: none;
}

.middle {
    text-align: center;
}

.btn {
    padding: .375rem .375rem !important;
    margin: 4px !important;
    line-height: 1.1 !important;
    font-size: 1rem !important;
}