<div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
        <div class="page-header">
            <h1>Password Reset</h1>
        </div>
        <%= form({action: usersResetPath(), method: "POST"}) { %>
            <%= f.InputTag({name: "Email", type: "email", placeholder: "Email"}) %>
            <button class="btn btn-success" role="submit">Reset</button>
            <a href="<%= rootPath() %>" class="btn btn-warning">Cancel</a>
        <% } %>
    </div>
    <div class="col-sm-3"></div>
</div>