<div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
        <div class="page-header">
            <h1>Password Reset</h1>
        </div>
        <%= form({action: usersRecoverPath({id: id}), method: "POST", oninput: "Password.setCustomValidity(Confirm.value != Password.value ? 'Passwords do not match.'' : '')"}) { %>
            <%= f.InputTag({name: "Password", type: "password", placeholder: "Password", id: "password", required: "required"}) %>
            <%= f.InputTag({name: "Passwordconfirmation", type: "password", placeholder: "Confirm"}) %>
            <button class="btn btn-success" role="submit">Reset</button>
            <a href="<%= rootPath() %>" class="btn btn-warning">Cancel</a>
        <% } %>
    </div>
    <div class="col-sm-3"></div>
</div>